LOCATE COMP "clk_100" SITE "P3";
IOBUF PORT "clk_100" IO_TYPE=LVDS;

LOCATE COMP "rst" SITE "T1";
IOBUF PORT "rst" IO_TYPE="LVCMOS25";

LOCATE COMP "DQ[0]" SITE "L5";
IOBUF PORT "DQ[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[1]" SITE "F1";
IOBUF PORT "DQ[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[2]" SITE "K4";
IOBUF PORT "DQ[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[3]" SITE "G1";
IOBUF PORT "DQ[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[4]" SITE "L4";
IOBUF PORT "DQ[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[5]" SITE "H1";
IOBUF PORT "DQ[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[6]" SITE "G2";
IOBUF PORT "DQ[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[7]" SITE "J3";
IOBUF PORT "DQ[7]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[8]" SITE "D1";
IOBUF PORT "DQ[8]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[9]" SITE "C1";
IOBUF PORT "DQ[9]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[10]" SITE "E2";
IOBUF PORT "DQ[10]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[11]" SITE "C2";
IOBUF PORT "DQ[11]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[12]" SITE "F3";
IOBUF PORT "DQ[12]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[13]" SITE "A2";
IOBUF PORT "DQ[13]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[14]" SITE "E1";
IOBUF PORT "DQ[14]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQ[15]" SITE "B1";
IOBUF PORT "DQ[15]" IO_TYPE=LVCMOS25;

LOCATE COMP "DQS[0]" SITE "K2";
IOBUF PORT "DQS[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQS_N[0]" SITE "J1";
IOBUF PORT "DQS_N[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQS[1]" SITE "H4";
IOBUF PORT "DQS[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "DQS_N[1]" SITE "G5";
IOBUF PORT "DQS_N[1]" IO_TYPE=LVCMOS25;

LOCATE COMP "CKE" SITE "N2";
IOBUF PORT "CKE" IO_TYPE=LVCMOS25;
LOCATE COMP "RAS_N" SITE "P1";
IOBUF PORT "RAS_N" IO_TYPE=LVCMOS25;
LOCATE COMP "RST_N" SITE "N4";
IOBUF PORT "RST_N" IO_TYPE=LVCMOS25;
LOCATE COMP "CAS_N" SITE "L1";
IOBUF PORT "CAS_N" IO_TYPE=LVCMOS25;
LOCATE COMP "BA[0]" SITE "P5";
IOBUF PORT "BA[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "BA[1]" SITE "N3";
IOBUF PORT "BA[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "BA[2]" SITE "M3";
IOBUF PORT "BA[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "ODT" SITE "L2";
IOBUF PORT "ODT" IO_TYPE=LVCMOS25;
LOCATE COMP "CS_N" SITE "K1";
IOBUF PORT "CS_N" IO_TYPE=LVCMOS25;
LOCATE COMP "WE_N" SITE "M1";
IOBUF PORT "WE_N" IO_TYPE=LVCMOS25;

LOCATE COMP "CK" SITE "M4" ;
IOBUF PORT "CK" IO_TYPE=LVDS SLEWRATE=FAST ;

LOCATE COMP "ADDR[0]" SITE "P2";
IOBUF PORT "ADDR[0]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[1]" SITE "C4";
IOBUF PORT "ADDR[1]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[2]" SITE "E5";
IOBUF PORT "ADDR[2]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[3]" SITE "F5";
IOBUF PORT "ADDR[3]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[4]" SITE "B3";
IOBUF PORT "ADDR[4]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[5]" SITE "F4";
IOBUF PORT "ADDR[5]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[6]" SITE "B5";
IOBUF PORT "ADDR[6]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[7]" SITE "E4";
IOBUF PORT "ADDR[7]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[8]" SITE "C5";
IOBUF PORT "ADDR[8]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[9]" SITE "E3";
IOBUF PORT "ADDR[9]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[10]" SITE "D5";
IOBUF PORT "ADDR[10]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[11]" SITE "B4";
IOBUF PORT "ADDR[11]" IO_TYPE=LVCMOS25;
LOCATE COMP "ADDR[12]" SITE "C3";
IOBUF PORT "ADDR[12]" IO_TYPE=LVCMOS25;